dades/activitats.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Esquema XSD per validar el fitxer activitats.xml -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="activitats">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="activitat" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="titol" type="xs:string"/>
                        <xs:element name="descripcio" type="xs:string"/>
                        <xs:element name="data" type="xs:string"/>
                        <xs:element name="categoria">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nomCat" type="xs:string"/>
                                    <xs:element name="color" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element name="prioritat">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nom">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="Alta"/>
                                                <xs:enumeration value="Mitjana"/>
                                                <xs:enumeration value="Baixa"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute name="tipus" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="realitzada" type="xs:string"/> 
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>


</xs:schema>